<a href="https://colab.research.google.com/github/sudheshnakatragadda/PYTHON-NEW/blob/Module-4/MODULE_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def string_test(s):
    UPPER_CASE = 0
    LOWER_CASE =0
    for c in s:
        if c.isupper():
           UPPER_CASE+=1
        elif c.islower():
           LOWER_CASE+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", UPPER_CASE)
    print ("No. of Lower case Characters : ", LOWER_CASE)

str=input('Enter a string:')
string_test(str)

In [ ]:
def str_replacement():
  str1=input("Enter a string:")
  str2=input('Enter the substring :')
  str3=input('Enter string to be replaced:')
  res = str1.replace(str2, str3, 2)
  print(res)

str_replacement()

In [ ]:
# create a database named backup
cnt = sqlite3.connect("backup.dp") 
cursor = cnt.execute('''SELECT * FROM Fruits1''')
print('Before Updation')
for i in cursor:
    print(i[0]+"    "+str(i[1])+"    "+str(i[2]))
  
print('')  # print a newline

In [ ]:
# Execute an Update statement
cnt.execute('''UPDATE Fruits1 SET Rate=Rate+5 WHERE
Quantity>10;''')
  
cursor = cnt.execute('''SELECT * FROM Fruits1''')
print('After Updation')
for i in cursor:
    print(i[0]+"    "+str(i[1])+"    "+str(i[2]))

In [ ]:
# commit changes to the database
cnt.commit()
data = cnt.execute('''SELECT * FROM Fruits2''')
for column in data.description:
    print(column[0],end='  ')
print('')
for i in data:
    print(i[0]+"    "+str(i[1])+"    "+str(i[2]))